* {
    box-sizing: border-box;
}

/*body*/

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

/*Header*/

header{
    width:100%;
    height:20%;
    background-color: antiquewhite;
    color:black;
    text-align: center;
    display: inline-block;
    
}

header>h1{
    font-size: 8vh;
    font-style: oblique;
    align-self: auto;
}

/*gamefield*/

.game-field {
    height: 50%;
    background-color: antiquewhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.game-content {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(133, 114, 114, 0.24);
}

/*rules*/

.rules {
    border-bottom: 1px black solid;

}

.rules>h3{
    padding-top:2%;
}

/*game cards*/

.game-cards {
    height: fit-content;
    background: url('../images/cards-background.jpg') no-repeat center center;
    width: fit-content;
    margin-left: 30px;
    margin-top: 2%;
    font-size: 18vh;
    border-radius: 8%;
    border: 1px solid black;
}

/*game interaction buttons*/

.interact {
    
}

.above {
 
}

.above {


}